<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= yield_content :supertitle %> - <%=yield_content :title %> - FWMT Job Control</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
  </head>
  <body>
      <h1><a href="/"><span id="logo-fwmt">FWMT</span> <span id="logo-job">Job</span> <span id="logo-control">Control</span></a> ➤ <%=yield_content :supertitle %> ➤ <%=yield_content :title %></h1>
  <% if flash[:error] %>
    <p class="error">⚠️ <%= flash[:error] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="notice">✅ <%= flash[:notice] %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
