<% content_for :supertitle do %>
    Rabbit
<% end %>

<% content_for :title do %>
    Create Job
<% end %>

<% if flash[:jobs] %>
    <p class="flash job_ids">✅ <%= flash[:jobs] %></p>
<% end %>

<form action="/rabbit/create" method="post" enctype="multipart/form-data">
    <% if not settings.fwmt_cf_enabled %>
        <fieldset>
            <legend>Rabbit Queue Details</legend>

            <%= erb :'widgets/rabbit' %>
        </fieldset>
    <% end %>

    <fieldset>
        <legend>Job Details</legend>

        <%= erb :'widgets/survey_type' %>

        <%= erb :'widgets/tm_world' %>

        <%= erb :'widgets/resno_gen' %>

        <%= erb :'widgets/id_gen' %>

        <%= erb :'widgets/date_gen' %>

        <%= erb :'widgets/addr_gen' %>

        <%= erb :'widgets/contact' %>

        <%= erb :'widgets/add_props' %>

        <%= erb :'widgets/job_count' %>

        <div>
            <input type="submit" name="send" value="Send jobs">
            <input type="submit" name="view" value="View jobs">
        </div>

        <% if (form.failed_on?(:idKind) ||
               form.failed_on?(:resNoKind) ||
               form.failed_on?(:dueDateKind) ||
               form.failed_on?(:addrKind)) %>
            <p class="flash error">⚠️ Error in kind fields</p>
        <% end %>
    </fieldset>
</form>
